extends layout

block content
	h1 Hello Drugs!

	h2 Add a Drug
	form(method="post", action="/smokeIt")
		input(type="text", name="name", placeholder="name")
		input(type="text", name="effect", placeholder="effect")
		input(type="text", name="dosage", placeholder="dosage")
		input(type="submit")

	h2 All Drugs

	ul
		for drug in drugs
			li
				h5= drug.name
				em= drug.effect
				strong=  drug.dosage